[Unit]
Description=NessusBeat Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /usr/share/nessusbeat/nessusbeat.py | /usr/bin/systemd-cat -t nessusbeat
StandardInput=tty-force
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
